.product-list {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.product-list__items {
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px 0 0;
  overflow: auto;
  justify-content: space-between;
  height: 77vh;
  min-width: 1440px;
  scrollbar-width: thin;
  scrollbar-color: #bdbaba #f1f1f1;
}

.product-list__items::-webkit-scrollbar {
  width: 12px;
}

.product-list__items::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.product-list__items::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.product-list__items::-webkit-scrollbar-thumb:hover {
  background: #8f8e8e;
}

@media (max-width: 1439px) {
  .product-list__items {
    min-width: auto;
    justify-content: space-around;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .product-list__items {
    flex-flow: column nowrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
