* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.app__body {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1440px;
  padding: 32px 0;
  gap: 32px;
}

.app__page-name {
  font-weight: 500;
  line-height: 48px;
}

@media (max-width: 1439px) {
  .app__body {
    padding: 32px 0 32px 10px;
  }
}
