.product-buttons {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
}
.product-buttons__button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-buttons__button:hover {
  background-color: #e0e0e0;
}
